<h1>@ViewBag.saludo</h1>
<h2>Resultados del formulario:</h2>
<p>Nombre: @ViewBag.nombre</p>
<p>Edad: @ViewBag.edad años</p>
<p>Plato sugerido: @ViewBag.plato</p>
<p>Tiempo estimado de preparación: @ViewBag.tiempo minutos</p>
<p>Cantidad de personas: @ViewBag.cantPersonas</p>
<p>Dificultad: @ViewBag.dificultad</p>